@model wb.Models.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.regIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loginIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loginIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pseudonym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pseudonym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userlvl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userlvl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.u_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
