@model IEnumerable<wb.Models.user>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.regIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loginIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pseudonym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userlvl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.regIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loginIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pseudonym)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userlvl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.posts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.u_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.u_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.u_id })
        </td>
    </tr>
}

</table>
